.instagram-logo {
position: relative;
margin: 0 auto;
width : 250px;
height : 250px;
border-radius: 55px;
background : radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
box-shadow: 0 15px 40px 1px rgba(0, 0, 0, 0.3);
}

.instagram-logo span {
display: block;
border: 15px solid #fff;
width: 150px;
height: 150px;
border-radius: 55px;
position: absolute;
top : 50%;
left : 50%;
transform :translate(-50%, -50%);
}

.instagram-logo span : before {

} 

.instagram-logo span : after {

}

